.blogs{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.blog{
  background-color: rgb(46, 43, 43);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(46, 43, 43);
  box-shadow: 3px 3px 3px rgb(31, 30, 30);
  transition: border 100ms ease-in;
  cursor: pointer;
}

.blog:hover{
  border: 1px solid rgb(117, 117, 117);
}

.coverPhoto{
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.authorImg{
  width: 40px;
  aspect-ratio: 1;
}

.title{
  text-align: center;
  font-family: "Fira Code";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  color: rgb(200, 200, 200);
  padding: 10px;
}

.author{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:10px;
}

.authorImgContainer{
  padding-right: 10px;
}

.authorName{
  font-family: "Fira Code";
  color: rgb(192, 192, 192);
}

.navbar{
  background-color: rgb(33, 34, 34);
  font-family: "Fira Code";
  padding: 20px;
  font-size: 28px;
  text-align: center;
  color: rgb(199, 199, 199);
  box-shadow: 3px 3px 3px rgb(44, 44, 44);
}